<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title><%= htmlWebpackPlugin.options.title %></title>
      <link rel="icon" type="image/png" href="assets/icon-200.png" />
      <link rel="manifest" href="manifest.webmanifest">
      <link rel="apple-touch-icon" href="assets/icon-200.png">
      <meta name="theme-color" content="#86ffe5"/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
   </head>
   <body>
      <noscript>Javascript required</noscript>
   </body>
</html>