<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title><%= htmlWebpackPlugin.options.title %></title>
      <link rel="preload" href="assets/ChineseQuickMappingSmall.json" as="fetch">
      <link rel="icon" type="image/png" href="assets/icon-200-color.png" />
      <link rel="manifest" href="manifest.webmanifest">
      <link rel="apple-touch-icon" href="assets/icon-200-color.png">
      <meta name="theme-color" content="#86ffe5"/>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <script data-ad-client="ca-pub-1689321330145732" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </head>
   <body>
      <noscript>Javascript required</noscript>
   </body>
</html>